<!-- footer start -->
<div class="footer clearfix">
	<div class="friend_link">
		<select onchange="self.location.href=options[selectedIndex].value">
		  <option value="{$_footer.friend_link_1.link}">{$_footer.friend_link_1.name}</option>
		  <option value="{$_footer.friend_link_2.link}">{$_footer.friend_link_2.name}</option>
		  <option value="{$_footer.friend_link_3.link}">{$_footer.friend_link_3.name}</option>
		  <option value="{$_footer.friend_link_4.link}">{$_footer.friend_link_4.name}</option>
		</select>
	</div>
	<div class="copyright"> 
		<p>{$footprint}  {$contact.company} 技术支持：<a href="http://www.12t.cn/default.html">厦门易尔通网络科技有限公司</a> 备案号： {$_footer.beianhao}</p>
	</div>
</div>
<!-- footer end -->